<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>when_is_birthday</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>395EB85BEE14FF27A5C084413911C1466078DD9A</string>
				<key>dateExpires</key>
				<string>2022/04/01</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>395EB85BEE14FF27A5C084413911C1466078DD9A</string>
						<key>dateExpires</key>
						<string>2022/04/01</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H9632ZD4NL</string>
						<key>name</key>
						<string>Tomoya Itagakia (Personal Team)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>395EB85BEE14FF27A5C084413911C1466078DD9A</string>
						<key>dateExpires</key>
						<string>2022/04/01</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FlutterMacOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H9632ZD4NL</string>
						<key>name</key>
						<string>Tomoya Itagakia (Personal Team)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>395EB85BEE14FF27A5C084413911C1466078DD9A</string>
						<key>dateExpires</key>
						<string>2022/04/01</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>window_size.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H9632ZD4NL</string>
						<key>name</key>
						<string>Tomoya Itagakia (Personal Team)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
			</dict>
			<key>name</key>
			<string>when_is_birthday.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H9632ZD4NL</string>
				<key>name</key>
				<string>Tomoya Itagakia (Personal Team)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
